  <nav>
      <ul>
        <li><a routerLink="/first-component" routerLinkActive="active">First Component</a></li>
        <li><a routerLink="/second-component" routerLinkActive="active">Second Component</a></li>
        <!-- <li><a routerLink="/emplist-component" routerLinkActive="active"> Create Employee</a></li> -->
        <!-- <li><a routerLink="/project-component" routerLinkActive="active">TodoProject</a></li> -->
        
      </ul>
    </nav>
    <!-- The routed views render in the <router-outlet>-->
    <router-outlet></router-outlet>
    <!-- <app-profile-editor></app-profile-editor> -->
    



